-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: smart_car
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_log`
--

DROP TABLE IF EXISTS `activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activity_type` varchar(50) NOT NULL,
  `activity_message` text NOT NULL,
  `activity_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `activity_status` varchar(20) DEFAULT 'info',
  `related_id` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_log`
--

LOCK TABLES `activity_log` WRITE;
/*!40000 ALTER TABLE `activity_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `activity_timeline`
--

DROP TABLE IF EXISTS `activity_timeline`;
/*!50001 DROP VIEW IF EXISTS `activity_timeline`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `activity_timeline` AS SELECT 
 1 AS `activity_type`,
 1 AS `activity_message`,
 1 AS `activity_time`,
 1 AS `activity_status`,
 1 AS `related_id`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `booking`
--

DROP TABLE IF EXISTS `booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking` (
  `Booking_ID` varchar(8) NOT NULL,
  `Date_Preserved` datetime NOT NULL,
  `Start_Date` datetime NOT NULL,
  `End_Date` datetime NOT NULL,
  `Customer_Drivers_License` varchar(14) NOT NULL,
  `Customer_ID_Card` varchar(16) NOT NULL,
  `Staff_Staff_ID` varchar(8) NOT NULL,
  PRIMARY KEY (`Booking_ID`),
  KEY `Customer_Drivers_License` (`Customer_Drivers_License`),
  KEY `idx_booking_customer` (`Customer_ID_Card`),
  KEY `idx_booking_staff` (`Staff_Staff_ID`),
  KEY `idx_booking_dates` (`Start_Date`,`End_Date`),
  KEY `idx_booking_preserved` (`Date_Preserved`),
  CONSTRAINT `booking_ibfk_1` FOREIGN KEY (`Customer_Drivers_License`) REFERENCES `customer` (`Drivers_License`),
  CONSTRAINT `booking_ibfk_2` FOREIGN KEY (`Customer_ID_Card`) REFERENCES `customer` (`ID_Card`),
  CONSTRAINT `booking_ibfk_3` FOREIGN KEY (`Staff_Staff_ID`) REFERENCES `staff` (`Staff_ID`),
  CONSTRAINT `booking_chk_1` CHECK ((`End_Date` > `Start_Date`)),
  CONSTRAINT `booking_chk_2` CHECK ((`Start_Date` >= `Date_Preserved`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking`
--

LOCK TABLES `booking` WRITE;
/*!40000 ALTER TABLE `booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_booking_insert` AFTER INSERT ON `booking` FOR EACH ROW BEGIN
    DECLARE customer_name VARCHAR(255);
    DECLARE activity_msg TEXT;
    
    -- Get customer name
    SELECT Name INTO customer_name 
    FROM Customer 
    WHERE ID_Card = NEW.Customer_ID_Card;
    
    -- Create activity message
    SET activity_msg = CONCAT('New booking created: ', NEW.Booking_ID, ' for ', COALESCE(customer_name, 'Unknown Customer'));
    
    -- Log activity for dashboard timeline
    INSERT INTO activity_log (activity_type, activity_message, activity_status, related_id)
    VALUES ('booking_created', activity_msg, 'success', NEW.Booking_ID);
    
    -- Keep only last 50 activities (cleanup)
    DELETE FROM activity_log 
    WHERE id NOT IN (
        SELECT id FROM (
            SELECT id FROM activity_log 
            ORDER BY activity_time DESC 
            LIMIT 50
        ) AS temp
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `car`
--

DROP TABLE IF EXISTS `car`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `car` (
  `Car_ID` varchar(8) NOT NULL,
  `Car_Name` varchar(255) NOT NULL,
  `Car_Type` varchar(255) NOT NULL,
  `Car_Price` decimal(10,2) NOT NULL,
  `Car_Class_CC_ID` varchar(8) NOT NULL,
  PRIMARY KEY (`Car_ID`),
  KEY `idx_car_class` (`Car_Class_CC_ID`),
  KEY `idx_car_name` (`Car_Name`),
  KEY `idx_car_type` (`Car_Type`),
  KEY `idx_car_price` (`Car_Price`),
  CONSTRAINT `car_ibfk_1` FOREIGN KEY (`Car_Class_CC_ID`) REFERENCES `car_class` (`CC_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `car`
--

LOCK TABLES `car` WRITE;
/*!40000 ALTER TABLE `car` DISABLE KEYS */;
/*!40000 ALTER TABLE `car` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_car_insert` AFTER INSERT ON `car` FOR EACH ROW BEGIN
    DECLARE activity_msg TEXT;
    
    -- Create activity message
    SET activity_msg = CONCAT('New car added to fleet: ', NEW.Car_Name, ' (ID: ', NEW.Car_ID, ')');
    
    -- Log activity for dashboard timeline
    INSERT INTO activity_log (activity_type, activity_message, activity_status, related_id)
    VALUES ('car_added', activity_msg, 'info', NEW.Car_ID);
    
    -- Keep only last 50 activities (cleanup)
    DELETE FROM activity_log 
    WHERE id NOT IN (
        SELECT id FROM (
            SELECT id FROM activity_log 
            ORDER BY activity_time DESC 
            LIMIT 50
        ) AS temp
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `car_class`
--

DROP TABLE IF EXISTS `car_class`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `car_class` (
  `CC_ID` varchar(8) NOT NULL,
  `Class_Name` varchar(255) NOT NULL,
  PRIMARY KEY (`CC_ID`),
  UNIQUE KEY `Class_Name` (`Class_Name`),
  KEY `idx_car_class_name` (`Class_Name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `car_class`
--

LOCK TABLES `car_class` WRITE;
/*!40000 ALTER TABLE `car_class` DISABLE KEYS */;
INSERT INTO `car_class` VALUES ('CC02','City Car'),('CC04','Hatchback'),('CC01','LMPV'),('CC06','MPV'),('CC05','Sedan'),('CC03','SUV');
/*!40000 ALTER TABLE `car_class` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `car_transaction`
--

DROP TABLE IF EXISTS `car_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `car_transaction` (
  `Car_Car_ID` varchar(8) NOT NULL,
  `Transaction_Transaction_ID` varchar(8) NOT NULL,
  PRIMARY KEY (`Car_Car_ID`,`Transaction_Transaction_ID`),
  KEY `idx_car_transaction_car` (`Car_Car_ID`),
  KEY `idx_car_transaction_transaction` (`Transaction_Transaction_ID`),
  CONSTRAINT `car_transaction_ibfk_1` FOREIGN KEY (`Car_Car_ID`) REFERENCES `car` (`Car_ID`),
  CONSTRAINT `car_transaction_ibfk_2` FOREIGN KEY (`Transaction_Transaction_ID`) REFERENCES `transaction` (`Transaction_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `car_transaction`
--

LOCK TABLES `car_transaction` WRITE;
/*!40000 ALTER TABLE `car_transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `car_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `ID_Card` varchar(16) NOT NULL,
  `Drivers_License` varchar(14) NOT NULL,
  `Name` varchar(255) NOT NULL,
  `Phone_Number` varchar(20) DEFAULT NULL,
  `Address` text,
  PRIMARY KEY (`ID_Card`),
  UNIQUE KEY `Drivers_License` (`Drivers_License`),
  KEY `idx_customer_drivers_license` (`Drivers_License`),
  KEY `idx_customer_name` (`Name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_customer_insert` AFTER INSERT ON `customer` FOR EACH ROW BEGIN
    DECLARE activity_msg TEXT;
    
    -- Create activity message
    SET activity_msg = CONCAT('New customer registered: ', NEW.Name, ' (ID: ', NEW.ID_Card, ')');
    
    -- Log activity for dashboard timeline
    INSERT INTO activity_log (activity_type, activity_message, activity_status, related_id)
    VALUES ('customer_added', activity_msg, 'primary', NEW.ID_Card);
    
    -- Keep only last 50 activities (cleanup)
    DELETE FROM activity_log 
    WHERE id NOT IN (
        SELECT id FROM (
            SELECT id FROM activity_log 
            ORDER BY activity_time DESC 
            LIMIT 50
        ) AS temp
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary view structure for view `dashboard_stats`
--

DROP TABLE IF EXISTS `dashboard_stats`;
/*!50001 DROP VIEW IF EXISTS `dashboard_stats`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `dashboard_stats` AS SELECT 
 1 AS `today_revenue`,
 1 AS `today_transactions`,
 1 AS `active_rentals`,
 1 AS `total_cars`,
 1 AS `available_cars`,
 1 AS `total_customers`,
 1 AS `utilization_rate`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `insurance`
--

DROP TABLE IF EXISTS `insurance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insurance` (
  `Insurance_ID` varchar(8) NOT NULL,
  `Insurance_Type` varchar(255) NOT NULL,
  `Insurance_Provider` varchar(255) NOT NULL,
  `Insurance_Expiry` date NOT NULL,
  `Customer_Drivers_License` varchar(14) NOT NULL,
  `Customer_ID_Card` varchar(16) NOT NULL,
  PRIMARY KEY (`Insurance_ID`),
  KEY `Customer_Drivers_License` (`Customer_Drivers_License`),
  KEY `idx_insurance_customer` (`Customer_ID_Card`),
  KEY `idx_insurance_expiry` (`Insurance_Expiry`),
  KEY `idx_insurance_provider` (`Insurance_Provider`),
  CONSTRAINT `insurance_ibfk_1` FOREIGN KEY (`Customer_Drivers_License`) REFERENCES `customer` (`Drivers_License`),
  CONSTRAINT `insurance_ibfk_2` FOREIGN KEY (`Customer_ID_Card`) REFERENCES `customer` (`ID_Card`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insurance`
--

LOCK TABLES `insurance` WRITE;
/*!40000 ALTER TABLE `insurance` DISABLE KEYS */;
/*!40000 ALTER TABLE `insurance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `Notification_ID` int NOT NULL AUTO_INCREMENT,
  `User_ID` int DEFAULT NULL,
  `Message` varchar(255) NOT NULL,
  `Type` enum('success','info','warning','danger','primary','secondary','dark','light') DEFAULT 'info',
  `Link` varchar(255) DEFAULT NULL,
  `Created_At` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`Notification_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `recent_bookings_dashboard`
--

DROP TABLE IF EXISTS `recent_bookings_dashboard`;
/*!50001 DROP VIEW IF EXISTS `recent_bookings_dashboard`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `recent_bookings_dashboard` AS SELECT 
 1 AS `Booking_ID`,
 1 AS `customer_name`,
 1 AS `customer_phone`,
 1 AS `car_name`,
 1 AS `Start_Date`,
 1 AS `End_Date`,
 1 AS `duration_days`,
 1 AS `total_amount`,
 1 AS `Payment_Method`,
 1 AS `booking_date`,
 1 AS `status`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `Staff_ID` varchar(8) NOT NULL,
  `Name` varchar(255) NOT NULL,
  `Contact` varchar(20) DEFAULT NULL,
  `Position` varchar(255) NOT NULL,
  PRIMARY KEY (`Staff_ID`),
  KEY `idx_staff_position` (`Position`),
  KEY `idx_staff_name` (`Name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction`
--

DROP TABLE IF EXISTS `transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaction` (
  `Transaction_ID` varchar(8) NOT NULL,
  `Payment_Method` varchar(255) NOT NULL,
  `Amount` decimal(12,2) NOT NULL,
  `Payment_Date` datetime NOT NULL,
  `Staff_Staff_ID` varchar(8) NOT NULL,
  `Booking_Booking_ID` varchar(8) NOT NULL,
  PRIMARY KEY (`Transaction_ID`),
  KEY `idx_transaction_booking` (`Booking_Booking_ID`),
  KEY `idx_transaction_staff` (`Staff_Staff_ID`),
  KEY `idx_transaction_payment_date` (`Payment_Date`),
  KEY `idx_transaction_amount` (`Amount`),
  KEY `idx_transaction_payment_method` (`Payment_Method`),
  CONSTRAINT `transaction_ibfk_1` FOREIGN KEY (`Staff_Staff_ID`) REFERENCES `staff` (`Staff_ID`),
  CONSTRAINT `transaction_ibfk_2` FOREIGN KEY (`Booking_Booking_ID`) REFERENCES `booking` (`Booking_ID`),
  CONSTRAINT `transaction_chk_1` CHECK ((`Amount` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction`
--

LOCK TABLES `transaction` WRITE;
/*!40000 ALTER TABLE `transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_transaction_insert` AFTER INSERT ON `transaction` FOR EACH ROW BEGIN
    DECLARE activity_msg TEXT;
    
    -- Create activity message
    SET activity_msg = CONCAT('Payment received: ', FormatRupiah(NEW.Amount), ' via ', NEW.Payment_Method);
    
    -- Log activity for dashboard timeline
    INSERT INTO activity_log (activity_type, activity_message, activity_status, related_id)
    VALUES ('payment_received', activity_msg, 'success', NEW.Transaction_ID);
    
    -- Keep only last 50 activities (cleanup)
    DELETE FROM activity_log 
    WHERE id NOT IN (
        SELECT id FROM (
            SELECT id FROM activity_log 
            ORDER BY activity_time DESC 
            LIMIT 50
        ) AS temp
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping events for database 'smart_car'
--

--
-- Dumping routines for database 'smart_car'
--
/*!50003 DROP FUNCTION IF EXISTS `CalculateUtilizationRate` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `CalculateUtilizationRate`() RETURNS decimal(5,2)
    READS SQL DATA
    DETERMINISTIC
BEGIN
    DECLARE total_cars INT DEFAULT 0;
    DECLARE active_rentals INT DEFAULT 0;
    DECLARE utilization_rate DECIMAL(5,2) DEFAULT 0.00;
    
    -- Get total cars
    SELECT COUNT(*) INTO total_cars FROM Car;
    
    -- Get active rentals
    SELECT COUNT(*) INTO active_rentals 
    FROM Booking 
    WHERE Start_Date <= CURRENT_DATE AND End_Date >= CURRENT_DATE;
    
    -- Calculate utilization rate
    IF total_cars > 0 THEN
        SET utilization_rate = (active_rentals * 100.0) / total_cars;
    END IF;
    
    RETURN utilization_rate;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `FormatRupiah` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `FormatRupiah`(amount DECIMAL(12,2)) RETURNS varchar(50) CHARSET utf8mb4
    DETERMINISTIC
BEGIN
    RETURN CONCAT('Rp ', FORMAT(amount, 0));
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `GenerateBookingID` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `GenerateBookingID`() RETURNS varchar(20) CHARSET utf8mb4
    READS SQL DATA
    DETERMINISTIC
BEGIN
    DECLARE next_number INT;
    DECLARE new_id VARCHAR(20);
    
    -- Get highest existing number from B0500 format
    SELECT COALESCE(MAX(CAST(SUBSTRING(Booking_ID, 2) AS UNSIGNED)), 500) + 1 
    INTO next_number 
    FROM Booking 
    WHERE Booking_ID REGEXP '^B[0-9]+$';
    
    SET new_id = CONCAT('B', LPAD(next_number, 4, '0'));
    RETURN new_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `GenerateCarID` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `GenerateCarID`() RETURNS varchar(20) CHARSET utf8mb4
    READS SQL DATA
    DETERMINISTIC
BEGIN
    DECLARE next_number INT;
    DECLARE new_id VARCHAR(20);
    
    -- Get highest existing number from C100 format
    SELECT COALESCE(MAX(CAST(SUBSTRING(Car_ID, 2) AS UNSIGNED)), 100) + 1 
    INTO next_number 
    FROM Car 
    WHERE Car_ID REGEXP '^C[0-9]+$';
    
    SET new_id = CONCAT('C', next_number);
    RETURN new_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `GenerateTransactionID` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `GenerateTransactionID`() RETURNS varchar(20) CHARSET utf8mb4
    READS SQL DATA
    DETERMINISTIC
BEGIN
    DECLARE next_number INT;
    DECLARE new_id VARCHAR(20);
    
    -- Get highest existing number from T format
    SELECT COALESCE(MAX(CAST(SUBSTRING(Transaction_ID, 2) AS UNSIGNED)), 0) + 1 
    INTO next_number 
    FROM Transaction 
    WHERE Transaction_ID REGEXP '^T[0-9]+$';
    
    SET new_id = CONCAT('T', LPAD(next_number, 4, '0'));
    RETURN new_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `GetAvailableCarsCount` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `GetAvailableCarsCount`() RETURNS int
    READS SQL DATA
    DETERMINISTIC
BEGIN
    DECLARE total_cars INT DEFAULT 0;
    DECLARE active_rentals INT DEFAULT 0;
    DECLARE available_cars INT DEFAULT 0;
    
    -- Get total cars
    SELECT COUNT(*) INTO total_cars FROM Car;
    
    -- Get active rentals
    SELECT COUNT(*) INTO active_rentals 
    FROM Booking 
    WHERE Start_Date <= CURRENT_DATE AND End_Date >= CURRENT_DATE;
    
    -- Calculate available cars
    SET available_cars = total_cars - active_rentals;
    
    RETURN available_cars;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `GetTodayRevenue` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `GetTodayRevenue`() RETURNS decimal(12,2)
    READS SQL DATA
    DETERMINISTIC
BEGIN
    DECLARE today_revenue DECIMAL(12,2) DEFAULT 0.00;
    
    SELECT COALESCE(SUM(Amount), 0) 
    INTO today_revenue 
    FROM Transaction 
    WHERE DATE(Payment_Date) = CURRENT_DATE;
    
    RETURN today_revenue;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `GetTodayTransactionCount` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `GetTodayTransactionCount`() RETURNS int
    READS SQL DATA
    DETERMINISTIC
BEGIN
    DECLARE today_count INT DEFAULT 0;
    
    SELECT COUNT(*) 
    INTO today_count 
    FROM Transaction 
    WHERE DATE(Payment_Date) = CURRENT_DATE;
    
    RETURN today_count;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Final view structure for view `activity_timeline`
--

/*!50001 DROP VIEW IF EXISTS `activity_timeline`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `activity_timeline` AS select `activity_log`.`activity_type` AS `activity_type`,`activity_log`.`activity_message` AS `activity_message`,`activity_log`.`activity_time` AS `activity_time`,`activity_log`.`activity_status` AS `activity_status`,`activity_log`.`related_id` AS `related_id` from `activity_log` order by `activity_log`.`activity_time` desc limit 10 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `dashboard_stats`
--

/*!50001 DROP VIEW IF EXISTS `dashboard_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `dashboard_stats` AS select `GetTodayRevenue`() AS `today_revenue`,`GetTodayTransactionCount`() AS `today_transactions`,(select count(0) from `booking` where ((`booking`.`Start_Date` <= curdate()) and (`booking`.`End_Date` >= curdate()))) AS `active_rentals`,(select count(0) from `car`) AS `total_cars`,`GetAvailableCarsCount`() AS `available_cars`,(select count(0) from `customer`) AS `total_customers`,`CalculateUtilizationRate`() AS `utilization_rate` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `recent_bookings_dashboard`
--

/*!50001 DROP VIEW IF EXISTS `recent_bookings_dashboard`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `recent_bookings_dashboard` AS select `b`.`Booking_ID` AS `Booking_ID`,`c`.`Name` AS `customer_name`,`c`.`Phone_Number` AS `customer_phone`,`car`.`Car_Name` AS `car_name`,`b`.`Start_Date` AS `Start_Date`,`b`.`End_Date` AS `End_Date`,((to_days(`b`.`End_Date`) - to_days(`b`.`Start_Date`)) + 1) AS `duration_days`,`t`.`Amount` AS `total_amount`,`t`.`Payment_Method` AS `Payment_Method`,`b`.`Date_Preserved` AS `booking_date`,(case when ((`b`.`Start_Date` <= curdate()) and (`b`.`End_Date` >= curdate())) then 'Active' when (`b`.`Start_Date` > curdate()) then 'Upcoming' when (`b`.`End_Date` < curdate()) then 'Completed' else 'Unknown' end) AS `status` from ((((`booking` `b` left join `customer` `c` on((`b`.`Customer_ID_Card` = `c`.`ID_Card`))) left join `transaction` `t` on((`b`.`Booking_ID` = `t`.`Booking_Booking_ID`))) left join `car_transaction` `ct` on((`t`.`Transaction_ID` = `ct`.`Transaction_Transaction_ID`))) left join `car` on((`ct`.`Car_Car_ID` = `car`.`Car_ID`))) order by `b`.`Date_Preserved` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-17 18:42:25
